{% extends 'base.html' %} {% block content %}

<div class="question-form">

    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
            <div class="messages alert alert-danger" role="alert">
                <strong>Sorry {{ data.username.capitalize() }}!</strong> {{ message }}
            </div>
            {% else %}
            <div class="messages alert alert-success" role="alert">
                <strong>Well Done {{ data.username.capitalize() }}!</strong> {{ message }}
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

            <div class="current-status">
                <div class="current-question">
                    <strong>Question: </strong>{{ data.question_index + 1 }} of {{ data.length }}
                </div>
                <div class="current-score">
                    <strong>Score: </strong>{{ data.current_score }}
                </div>
            </div>


            <h2>Can you translate: <i class="word-to-translate">{{ data.spanish}}</i></h2>

            <form name="answer" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <input autocomplete="off" class="form-control" type="text" id="answer" name="user_answer" placeholder="Answer..." autofocus required>
                        <input type="hidden" name="question_index" id="question_index" value="{{ data.question_index }}">
                        <input type="hidden" name="current_score" id="current_score" value="{{ data.current_score }}">
                        <button id="check" class="btn btn-primary btn-lg btn-block">Check!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
