#answers {
  margin: 5% 0 5% 0;
}

.question-form {
  padding: 0 5%
}

.result {
  margin-top: 2.5%;
}

.result p {
  font-size: 22px;
}

.scrollTop {
  float: right !important;
  padding-right: 2.5%;
  padding-top: 1%;
}

.question-status {
  padding: 0 0 5% 0;
}

.fa {
  font-weight: 900;
  font-size: 30px;
  color: #2E2E2E;
  opacity: 0.3;
}

.message-box {
  height: 72px;
}

.main-button, #check{
  margin: 2% 0 !important;
}
